<!-- This form is incomplete--it needs a destination URL as well as a method: -->
<form action="/new" method="post">
    <p>
     Guess a letter
    </p>
  <input type="text" name="new game" value="New Game"/>
</form>

